main {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-image: url(../img/mina.png), url(../img/bgkuva.png);
    background-size: 70vh, cover;
    background-repeat: no-repeat;
    background-position: bottom, center;
    display: flex;
    justify-content: center;
    align-items: center;
}

main .main-intro h1 {
    font-size: 3rem;
    line-height: 1.25;
    text-align: center;
    text-shadow: 3px 3px 10px orange;
}

main .main-intro h2 {
    font-size: 1.8rem;
    line-height: 1.25;
    text-align: center;
    text-shadow: 3px 3px 10px orange;
    border-bottom: 2px solid orange;
    padding-bottom: 20px;
    margin: 0 20px;
}

main p {
    text-align: center;
    padding: 0 10%;
    font-size: 1rem;
    line-height: 1.75;
}

main .my-work {
    margin: 10px auto;
    font-size: 18px;
    display: block;
    background-color: var(--site-color-01);
    padding: 10px 20px;
    width: fit-content;
}

main .my-work:hover  {
    background-color: var(--site-color-01-hover);
    
}

main .main-intro {
    padding-top: 15vh;
}

main .main-quote {
    display: none;
}   



.header-main {
    position: fixed;
    top: 0;
    background-color: #cecece;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    z-index: 1000;
    box-shadow: 4px 4px 10px #000;
}

.header-logo{
    display: flex;
}

.header-logo a {
    width: fit-content;
    height: 100%;
    display: flex;
    line-height: 60px;
    margin-left: 10px;    
}

.header-logo h2 {
    font-size: 20px;
    color: #1e1e1e;
    line-height: 60px;
    text-transform: uppercase;
}

.header-logo img {
    height: 30px;
    align-self: center;
}

.header-nav {
    display: none;
}

.header-sm {
    height: 100%;
    padding-right: 20px;
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header-sm-fb {
    width: 20px;
    height: 20px;
    background-image: url(../img/facebook.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-sm-fb:hover {
    background-image: url(../img/facebook-color.png);
}

.header-sm-ig {
    width: 20px;
    height: 20px;
    background-image: url(../img/instagram.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-sm-ig:hover {
    background-image: url(../img/instagram-color.png);
}

.header-sm-linkedin {
    width: 20px;
    height: 20px;
    background-image: url(../img/linkedin.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-sm-linkedin:hover {
    background-image: url(../img/linkedin-color.png);
}

.header-sm-twitter {
    width: 20px;
    height: 20px;
    background-image: url(../img/twitter.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.header-sm-twitter:hover {
    background-image: url(../img/twitter-color.png);
}

/* BURGER MENU */

.burger-menu-btn {
    display: block;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-image: url(../img/burger-menu.png), url(../img/close.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center, center left 50px;
}

.burger-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 900;
    background-color: #111;
}

.burger-menu ul {
    width: 100%;
    height: calc(100vh - 60px);
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.burger-menu ul li {
    flex-basis: 100%;
    border-top: 2px solid #000;
}

.burger-menu ul li:last-child {
    flex-basis: 100%;
    border-bottom: 2px solid #000;
}

.burger-menu ul li a {
    display: block;
    height: 100%;
    font-size: 3rem;
    padding: 30px 0;
    flex-basis: 100%;
    text-align: center;
    color: #cecece;
}
.burger-menu ul li a:hover {
    color: #2e2e2e;
}

/* KATEGORIA */

.index-category {
    width: 100%;
    padding: 40px 0 40px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    scroll-margin-top: 2rem;
}

.index-category h2 {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 20px;    
    flex-basis: 100%;
    text-transform: uppercase;
}

.index-category p {
    color: #1e1e1e;
    text-align: center;
    flex-basis: 100%;
    text-transform: uppercase;
    display: block;
}

.index-category-box {
    width: calc(100% - 20px);
    height: 160px;
    background-color: #111;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.index-category-box:nth-child(2) {
    background-image: url(../img/it.esedu.fi.JPG);
}   

.index-category-box:nth-child(3) {
    background-image: url(../img/aitoikkuna_logo.JPG);
}   

.index-category-box:nth-child(4) {
    background-image: url(../img/sammakko.jpg);
}

.dark-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #1e1e1e;
    opacity: 0.7;
    transition: all ease-in-out 200ms;
}

.index-category-box:hover .dark-overlay {
    opacity: 0;
}

.index-category-box h3 {
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    text-shadow: 2px 2px 4px orange;
    z-index: 100;
}

/* About section */
.index-about {
    width: 100%;
    padding: 60px 0 ;
    background-color: #1e1e1e;
    scroll-margin-top: 2rem;
}

.index-about-flex {
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.index-about-img {
    width: 60%;
}
.index-about-img img {
    width: 100%;
    border-radius: 300px;
}

.index-about-text {
    flex-basis: 100%;
}

.index-about-text h2 {
    text-align: center;
    padding: 20px 0;
    text-shadow: 3px 3px 10px orange;
}

.index-about-text h3 {
    text-align: center;
    height: 105px;
    font-size: 24px;
    padding: 20px 0;
    text-shadow: 3px 3px 10px orange;
}

.index-about-skill h3 {
    font-size: 24px;
    padding: 20px 0;
    text-shadow: 3px 3px 10px orange;
}

.index-about-text p {
    text-align: center;
    padding: 20px 0;
}

.index-about-skill {
    flex-basis: 350px;
    margin: 0px 5px;
}

.index-about-skill-bar {
    width: 100%;
    height: 20px;
    border: 4px solid #cecece;
}

.index-about-skill-bar-fill {
    height: 100%;
    background-color: orange;
}

.html {
    width: 90%;
}

.css {
    width: 90%;
}

.wp {
    width: 90%;
}

.bs {
    width: 60%;
}

.ad {
    width: 60%;
}

.verk {
    width: 70%;
}

.lan {
    width: 70%;
}

.dhcp {
    width: 70%;
}

.python {
    width: 60%;
}
.cplusplus {
    width: 40%;
}

.ohlait {
    width: 100%;
}

.windows {
    width: 100%;
}

/* TYÖKOKEMUS */

.index-tyokokemus {
    width: 100%;
    padding: 40px 0 40px;
    background-color: #d4d4d4;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 10px;
    scroll-margin-top: 2rem;
}

.index-tyokokemus h2 {
    color: #1e1e1e;
    text-align: center;
    padding-bottom: 20px;    
    flex-basis: 100%;
    text-transform: uppercase;
}

.index-tyokokemus p {
    color: #1e1e1e;
    text-align: center;
    flex-basis: 100%;
    display: block;
}

.index-tyokokemus-box {
    display: flex;
}

.index-tyokokemus-box-img {
    display: none;
}

.index-tyokokemus-box-text {
    width: 100%;
}

.index-tyokokemus-box-text h3 {
    color: #1e1e1e;
    padding: 30px 0 10px;
    font-size: 22px;
    line-height: 28px;
    text-align: center;
    z-index: 100;
}



@media only screen and (min-width: 1200px) {

    .wrapper-main {
        width: 1100px;
        margin: 0 auto;
    }

    .burger-menu, .burger-menu-btn {
        display: none;
    }

    .header-nav {
        display: block;
        height: 100%;
        padding-left: 30px;
    }
    .header-nav ul {
        line-height: 60px;
    }
    
    .header-nav ul li {
        display: inline;
        float: left;
        padding: 0 10px;    
    }
    
    .header-nav ul li a {
        display: block;
        font-size: 16px;
        font-weight: 600;
        text-transform: uppercase;
        line-height: 60px;
    }
    
    .header-nav ul li a:hover {
        text-decoration: underline;
        color: orange;
    }

    main {
        background-position: bottom, center;
    }

    main .main-intro h1 {
        font-size: 80px;
        line-height: 106px;
    }

    main p {
        font-size: 18px;
        line-height: 30px;        
    }
    
    main .main-quote p {
        border-left: 4px solid var(--site-color-01);
        padding-left: 20px;
        margin: 40px 0;
    }  

    main .main-quote p:nth-child(2) {
        margin-left: 60px;
    }

    main .main-quote {
        display: inline-block;
        padding-top: 15vh;
        padding-left: 20vh;
    }

    main .main-intro {
        padding-top: 0;
        padding-right: 20vh;
        padding-bottom: 20vh;
    }

    /* Kategoria */
    .index-category {
        padding: 60px 0;
        column-gap: 20px;
        row-gap: 20px;
    }
    
    .index-category h2 {
        padding-bottom: 40px;
    }
    
    .index-category-box {
        width: 300px;
        height: 300px;
        border-radius: 150px;   
    }

    .dark-overlay {
        border-radius: 150px;
    }
    
    /* About section */
    
    .index-about-flex {
        flex-wrap: wrap;
        display: flex;
        column-gap: 60px;
    }

    .index-about-img {
        width: 300px;
    }

    .index-about-img img {
        width: 100%;
        border-radius: 300px;
    }

    .index-about-text {
        flex-basis: 740px;
    }

    .index-about-text h2 {
        text-align: left;
        padding: 20px 0;
    }
    
    .index-about-text p {
        text-align: left;
        padding: 20px 0;
    }

    .index-about-skill {
        flex-basis: 326px;
        margin: 0;
    }

    .index-about-skill-bar {
        width: 100%;
        height: 20px;
        border: 4px solid #cecece;
    }

    .index-about-skill-bar-fill {
        height: 100%;
        background-color: orange;
    }

    .index-about-skill h3 {
        font-size: 24px;
        text-align: center;
        text-shadow: 3px 3px 10px orange;
    }

    /* TYÖKOKEMUS */

    .index-tyokokemus {
        padding: 60px 0;
        width: 100%;
        background-color: #d4d4d4;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 10px;
        scroll-margin-top: 2rem;
    }
    
    .index-tyokokemus h2 {
        padding-bottom: 40px;
        color: #1e1e1e;
        text-align: center;   
        flex-basis: 100%;
        text-transform: uppercase;
    }

    .index-tyokokemus-box h3 {
        display: flex;
        color: #1e1e1e;
        font-size: 22px;
        line-height: 28px;
        text-align: left;
        z-index: 100;
    }

    .index-tyokokemus p {
        color: #1e1e1e;
        text-align: left;
        flex-basis: 100%;
        display: block;
    }
    
    .index-tyokokemus-box {
        width: 100%;
        padding: 30px 0;
    }

    .index-tyokokemus-box-img {
        display: block; 
        width: 200px;
    }
    
    .index-tyokokemus-box-img img {    
        width: 100%;
    }

    .index-tyokokemus-box-text {    
        padding-left: 20px;
    }


    /* Footer */
  
    .footer-sitemap {
        flex-wrap: nowrap;
    }

    .footer-sitemap ul:nth-child(1) {
        border-left: 2px solid var(--site-color-01);
        padding-left: 20px;
    }

    .footer-sitemap ul:nth-child(1), .footer-sitemap ul:nth-child(2) {
        flex-basis: 220px;
        text-align: left;
    }

    .footer-sitemap ul:nth-child(3) {
        flex-basis: 660px;
        text-align: right;
    }

    .footer-sitemap p {
        padding: 0;
        /* text-transform: uppercase; */
    }

    .footer-sitemap ul:nth-child(4) p {
        flex-basis: 880px;
        text-align: right;
    }
}



/* KÄNNYKKÄ */

/* @media only screen and (min-width: 1200px) {

    .wrapper-main {
        width: 1100px;
        margin: 0 auto;
    }
} */
