:root {
    --site-color-01: orange;
    --site-color-01-hover: #b17300;
}

body {
    background-color: #2e2e2e;
}

body:after {
    position: absolute;
    width: 0;
    height: 0;
    overflow: hidden;
    z-index: -1;
    content: url(../img/facebook-color.png) url(../img/instagram-color.png) url(../img/twitter-color.png) url(../img/linkedin-color.png);
}

html {
    scroll-behavior: smooth;
}

.wrapper-main {
    width: calc(100% - 40px);
    margin: 0 auto;
}

h1 {
    font-size: 26px;
    line-height: 32px;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h2 {
    font-size: 28px;
    line-height: 32px;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

h3 {
    font-size: 26px;
    line-height: 32px;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
    text-transform: uppercase;
}

p {
    font-size: 14px;
    line-height: 30px;
    color: #cecece;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    cursor: pointer;
    color: #1e1e1e;
    font-size: 14px;
    line-height: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Footer */

.footer-main {
    width: 100%;
    padding: 40px 0 40px;
    background-color: #141414;
}

.footer-main-flex {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni {
    flex-basis: 25%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-testemoni img {
    height: 50%;
}

.footer-testemoni p {
    text-align: center;
    font-size: 16px;
    padding: 20px 20px 0;
}

.footer-getintouch {
    padding: 10px 20px;
    margin: 0 0 60px;
    border: 2px solid #cecece;
    color: #cecece;
    font-weight: 600;
    transition: all ease-in-out 200ms;
}

.footer-getintouch:hover {    
    border: 2px solid var(--site-color-01-hover);
}

.footer-sitemap {
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap;
}

.footer-sitemap a {
    line-height: 30px;
    color: #cecece;
}

.footer-sitemap a:hover {
    opacity: 0.6;
}

.footer-sitemap ul:nth-child(1) {
    border-left: none;
}

.footer-sitemap ul:nth-child(1), .footer-sitemap ul:nth-child(2), .footer-sitemap ul:nth-child(3){
    flex-basis: 200%;
    text-align: center;
    padding-bottom: 20px;
}


.footer-sitemap p {
    padding: 0 20px;
    text-transform: uppercase;
}

.footer-sitemap ul:nth-child(4) {
    flex-grow: 1;    
}

.footer-sitemap ul:nth-child(4) p {
    text-align: center;
}


